.button
{

}

.button a[type = "button"]
{
    width: 360px;
    outline: none;
    border: none;
    position: relative;
    display: flex;
    background: #05c46b;
    height: auto;
    font-size: 22px;
    color: white;
    padding: 20px;
    border-radius: 14px;
}

.button a[type = "button"]:hover
{
    outline: none;
    border: none;
    background: #27ae60;
    user-select:none;
}
.button a[type = "button"]:active
{
    outline: none;
    border: none;
    background: #27ae60;
    border: #05c46b solid 3px;
    user-select:none;
}
.button a[type = "button"]:focus
{
    outline: none;
    border: none;
    user-select:none;
}

.button a[type = "button"] span
{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    user-select:none;
}